.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.imagens img{
    width: 100%;
    max-width: 300px;
    height: auto;
}

.chute{
    margin-bottom: 50px;
}

#label{
    display: block;
    margin-bottom: 5px;
}

#input-letra{
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

#botao-chutar{
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.sortear-palavra{
    margin-bottom: 20px;
}

#botao-sortear{
    padding: 10px 20px;
    font-size: 18px;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.letras-digitadas{
    font-size: 24px;
}

.palavra, .palavra-visivel{
    display: flex;
    height: 40px;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.palavra span, .palavra-visivel span{
    margin: 0 10px;
    min-width: 25px;
    text-align: center;
    border-bottom: solid 3px black;
}